/bin/*
/conf/*
/docs/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
#/resources/*
/saves/*
/stats/*
/config/*
/crash-reports/*
#!/resources/mods/*

/src/minecraft/*
/src/minecraft_server/*
/src/common/*
!/src/mods

*.bat
*.sh

CHANGELOG
LICENSE.txt
.classpath
.project
ForgeModLoader*
output*
debug*